<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
          <button>Học Luôn</button>
          <ul>
              <li>
                  Trinh độ trung bình
              </li>
          </ul>
        </div>

        <div class="col-lg-9">
          <h2>{{course.name}}</h2>
          <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <p width="560px"><b>{{course.desc}}</b></p>
        </div>
    </div>
</div>